$color-blue-transparent: #3b56a67F
$color-blue: #3b56a6
$color-gray: #333333
$color-white: #FFFFFF
$color-red-transparent: #cc1f367F

$font-weight-extra-light: 200
$font-weight-light: 300
$font-weight-regular: 400
$font-weight-bold: 700
$font-weight-extra-bold: 800

$card-width: 400px    

.company-card

    border: 2px solid black
    border-radius: 1rem
    overflow: clip

    width: $card-width
    height: 250px

    background-color: $color-white

    img
        display: block
        width: 100%
        height: 200px

    a
        position: relative

        all: unset
        cursor: pointer

        display: block
        width: 100%
        height: 50px
        text-align: center
        font-weight: $font-weight-bold
        font-size: 2rem

        color: $color-gray
        background-color: $color-blue-transparent

        border-radius: 0.5rem
