$site-width: 100%
$catchphrase-section-bg-color: #3b56a67F
$catchphrase-bg-color: #333333
$catchphrase-button-color: #FFFFFF

$font-weight-extra-light: 200
$font-weight-regular: 400
$font-weight-bold: 700

*
    padding: 0
    margin: 0
    box-sizing: border-box

    font-family: Inter
    font-weight: $font-weight-regular
    
html
    width: $site-width
    margin: 0 auto

.section
    height: fit-content
    width: 100%
    min-height: 100px

    margin: 0 auto

.force-right
    position: absolute
    right: 0

.center-x
    margin: 0 auto

.center-text-x
    text-align: center

.center-content-y
    display: flex
    align-items: center

.main-page-banner
    margin-bottom: -4px

.main-page-catchprase
    background-color: $catchphrase-section-bg-color
    padding: 20px

    h1
        color: white
        font-weight: $font-weight-bold

.catch-phrase

    position: relative
    width: 85%
    height: 50px
    background-color: $catchphrase-bg-color
    margin-top: 20px

    p
        margin-left: 20px
        color: white

    a

        all: unset

        position: absolute
        margin-right: 20px
        right: 0

        cursor: pointer
        background-color: $catchphrase-button-color
        padding: 5px

        font-weight: $font-weight-extra-light


.main-page-video

    position: relative
    border: 2px solid black

    img
        position: absolute
        top: 0
        left: 0
        z-index: 1

        width: 100%

    video
        position: relative
        z-index: 0
        width: 100%

.main-page-js-description
    position: relative
    padding: 30px
    justify-items: center

    min-height: 90vh

    .force-right
        height: 100%

        margin-right: -8px

    .js-logo
        width: 70%
        justify-self: center
        content: url("/design_elements/jobshop_prezentare_windows.svg")

    p
        word-wrap: normal
        width: 60%
        text-align: justify
        text-align-last: left
        justify-self: left

        font-size: 1.5em
        font-weight: $font-weight-extra-light

@media (min-width: 961px)
    .grid-layout
        display: grid
        grid-template-areas: 'col1 col2'
        grid-template-columns: 30% auto

@media (max-width: 960px)

    .main-page-js-description

        justify-items: left

        .js-logo
            content: url("/design_elements/jobshop_prezentare_telefon.svg")
            justify-self: left

        p
            margin-bottom: 40px

    .grid-layout
        display: grid
        grid-template-areas: 'row1 / row2'
        grid-template-rows: 1fr 1fr