$navbar-height: 80px
$navbar-color: #333333

nav
    height: $navbar-height
    width: 100%
    background-color: $navbar-color
    z-index: 2

    color: white

    position: sticky
    top: 0px

    display: flex
    align-items: center

    img
        margin-right: 20px

    #js-logo
        margin-left: 30px

    #drop-down
        cursor: pointer
