$color-gray: #333333
$font-weight-extra-light: 200
$font-weight-light: 300

@keyframes bounce
    0%
        scale: 1
    100%
        scale: 1.3

.card

    img
        display: block

        aspect-ratio: 1 / 1
        height: auto

        margin: 0 auto

        cursor: pointer

    .stat
        text-align: center
        color: $color-gray
        font-weight: $font-weight-light

        margin-top: -3rem
        font-size: 4.5rem

        text-shadow: 2px 2px #fff, -2px 2px #fff, 2px -2px #fff, -2px -2px #fff, 0 2px #fff, 0 -2px #fff, 2px 0 #fff, -2px 0 #fff

        position: relative
        &::after
            content: "▼"
            position: absolute
            
            left: 50%
            transform: translateX(-50%)

            font-size: 1rem

            animation-name: bounce
            animation-delay: 0
            animation-direction: alternate
            animation-duration: 0.5s
            animation-fill-mode: both
            animation-iteration-count: infinite

            cursor: pointer
            
            bottom: 0
            @media screen and ( max-width: 900px )
                bottom: -10px

            @media screen and ( max-width: 600px )
                font-size: 0.8rem

    .text
        width: 100%

        *
            text-align: justify
            text-align-last: left
            font-size: 1.5rem
            
            font-weight: $font-weight-extra-light

    @media screen and ( min-width: 1300.1px  )
        width: 300px
        img
            width: 300px

    @media screen and ( max-width: 1300px  )
        width: 250px
        img
            width: 250px

    @media screen and ( max-width: 900px  )
        width: 150px
        img
            width: 150px
        .stat
            font-size: 3rem
            margin-top: -2.5rem

    @media screen and ( max-width: 600px )
        width: 100px
        img
            width: 100px
        .stat
            font-size: 2rem
            margin-top: -1.5rem
        
