$font-weight-extra-light: 200
$font-weight-light: 300
$font-weight-regular: 400
$font-weight-bold: 700
$font-weight-extra-bold: 800
    
$color-blue-transparent: #3b56a67F
$color-blue: #3b56a6
$color-gray: #333333
$color-white: #FFFFFF
$color-red: #cc1f36
$color-red-transparent: #cc1f367F

.meet-the-team
    position: relative

    .mtt-title
        padding: 60px 0
        text-align: center
        font-size: 5rem
        font-weight: $font-weight-extra-bold
        color: $color-red

        text-shadow: 3px 3px $color-red-transparent

    .js-team-photos
        margin: 60px 0
        position: relative
        
        display: grid
        justify-content: center
        grid-template-areas: ". Bia ." "Laur . Ria" "Mirzi . Anda" "Raul . Dia" ". Maria ." "Roman Anca Casi"
        grid-template-columns: auto auto auto
        row-gap: 120px

        #Bia
            grid-area: Bia

        #Laur
            grid-area: Laur

        #Ria
            grid-area: Ria
        
        #Mirzi
            grid-area: Mirzi

        #Anda
            grid-area: Anda

        #Raul
            grid-area: Raul

        #Dia
            grid-area: Dia

        #Maria
            grid-area: Maria

        #Roman
            grid-area: Roman
            margin-left: -60px

        #Anca
            grid-area: Anca

        #Casi
            grid-area: Casi
            margin-left: 60px

        @media screen and ( max-width: 1000px )
            grid-template-areas: "Bia" "Laur" "Ria" "Mirzi" "Anda" "Raul" "Dia" "Maria" "Roman" "Anca" "Casi"
            #Roman
                margin-left: 0
            #Casi
                margin-left: 0
    