.meet-the-team
    position: relative
    min-height: 100vh !important

    .vertical-strip
        height: 100vw
        position: absolute
        left: 50vw

        transform-origin: left
        transform: rotateZ(-90deg)
        display: none

    .js-team-photos
        padding: 20px
        z-index: 1
        position: relative
        
        display: grid
        justify-content: center
        grid-template-areas: ". Bia ." "Laur . Ria" "Mirzi . Anda" "Raul . Dia"
        @media screen and ( max-width: 1000px )
            grid-template-areas: "Bia" "Laur" "Ria" "Mirzi" "Anda" "Raul" "Dia"
            row-gap: 40px

        #Bia
            grid-area: Bia

        #Laur
            grid-area: Laur

        #Ria
            grid-area: Ria
        
        #Mirzi
            grid-area: Mirzi

        #Anda
            grid-area: Anda

        #Raul
            grid-area: Raul

        #Dia
            grid-area: Dia
    