$color-blue-transparent: #3b56a67F
$color-blue: #3b56a6
$color-gray: #333333
$color-white: #FFFFFF
$color-red-transparent: #cc1f367F

$font-weight-extra-light: 200
$font-weight-light: 300
$font-weight-regular: 400
$font-weight-bold: 700
$font-weight-extra-bold: 800
    
$picture-size: 300px


.team-card
    width: $picture-size
    
    .poza
        display: block
        aspect-ratio: 1
        width: $picture-size

        border: 2px solid black
        border-radius: 100%
    
    p
        text-align: center
        font-size: 2rem
    
    .nume
        font-weight: $font-weight-extra-bold
        color: $color-blue
    
    .pozitie
        font-weight: $font-weight-bold
        color: $color-blue-transparent