.company-card {
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #FFFFFF;
}
.company-card a {
  all: unset;
  cursor: pointer;
  text-decoration: underline #9daad2;
}
.company-card .logo {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.company-card .logo img {
  display: block;
  width: 90%;
}
.company-card .description-bttn {
  all: unset;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 100;
  color: #FFFFFF;
  background-color: #333333;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}
.company-card div[data-color=blue] {
  background-color: rgba(59, 86, 166, 0.4980392157);
}
.company-card div[data-color=red] {
  background-color: #cc1f36;
}
.company-card .description {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 250px;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  padding: 15px 25px;
  text-align: justify;
  color: #FFFFFF;
  background-color: #3b56a6;
  overflow-y: scroll;
  overflow-x: visible;
}
.company-card .description::-webkit-scrollbar {
  width: 1rem;
}
.company-card .description::-webkit-scrollbar-track {
  background-color: #9daad2;
}
.company-card .description::-webkit-scrollbar-thumb {
  background-color: #333333;
}
.company-card[data-description] .description {
  top: 0;
}
