* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 400;
}

html {
  width: 100%;
  margin: 0 auto;
  line-height: 1.6;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

span {
  display: block;
}

.section {
  height: fit-content;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
}

.force-right {
  position: absolute;
  right: 0;
}

.center-x {
  margin: 0 auto;
}

.center-text-x {
  text-align: center;
}

.center-content-y {
  display: flex;
  align-items: center;
}

.main-page-banner {
  margin-bottom: -7px;
}

.main-page-catchprase {
  background-color: rgba(59, 86, 166, 0.4980392157);
  padding: 20px;
}
.main-page-catchprase h1 {
  color: white;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .main-page-catchprase h1 {
    font-size: 1.3rem;
  }
}
.main-page-catchprase .catch-phrase {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #333333;
  margin-top: 20px;
  padding: 0 20px;
}
.main-page-catchprase .catch-phrase p {
  text-align: center;
  color: white;
}
.main-page-catchprase .catch-phrase a {
  all: unset;
  cursor: pointer;
  background-color: #FFFFFF;
  padding: 5px;
  font-weight: 200;
  font-family: Inter;
  position: absolute;
  margin-right: 20px;
  right: 0;
}
@media screen and (max-width: 500px) {
  .main-page-catchprase .catch-phrase p {
    font-size: 0.8rem;
    margin-left: -5px;
  }
  .main-page-catchprase .catch-phrase a {
    font-size: 0.8rem;
    padding: 1px 4px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 560px) {
  .main-page-catchprase .catch-phrase {
    width: 85%;
  }
}

.main-page-video {
  position: relative;
}
.main-page-video .element-design-sus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.main-page-video .element-design-jos {
  width: 100%;
  height: 75px;
  background-color: #333333;
}
.main-page-video video {
  position: relative;
  z-index: 0;
  width: 100%;
}

.main-page-js-description {
  position: relative;
  padding: 30px;
  justify-items: center;
  min-height: 90vh;
  overflow: hidden;
}
.main-page-js-description .force-right {
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
}
.main-page-js-description .js-logo {
  width: 70%;
  justify-self: center;
  content: url("/design_elements/jobshop_prezentare_windows.svg");
  z-index: 1;
}
.main-page-js-description p {
  word-wrap: normal;
  width: 60%;
  text-align: justify;
  text-align-last: left;
  justify-self: left;
  font-size: 1.5rem;
  font-weight: 200;
}

@media (min-width: 961px) {
  .grid-layout-js {
    display: grid;
    grid-template-areas: "col1 col2";
    grid-template-columns: 35% auto;
  }
}
@media (max-width: 960px) {
  .main-page-js-description {
    justify-items: left;
  }
  .main-page-js-description .js-logo {
    content: url("/design_elements/jobshop_prezentare_telefon.svg");
    justify-self: left;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 60%;
    min-width: 300px;
  }
  .main-page-js-description p {
    margin-bottom: 40px;
    min-width: 300px;
  }
  .grid-layout-js {
    display: grid;
    grid-template-areas: "row1" "row2";
    grid-template-rows: auto auto;
  }
}
@media (max-width: 512px) {
  .main-page-js-description p {
    font-size: 1.25rem;
  }
}
@media (max-width: 450px) {
  .main-page-js-description .force-right {
    margin-right: -80%;
  }
}
@media (min-width: 451px) and (max-width: 460px) {
  .main-page-js-description .force-right {
    margin-right: -70%;
  }
}
@media (min-width: 461px) and (max-width: 500px) {
  .main-page-js-description .force-right {
    margin-right: -60%;
  }
}
@media (min-width: 501px) and (max-width: 560px) {
  .main-page-js-description .force-right {
    margin-right: -50%;
  }
}
@media (min-width: 561px) and (max-width: 660px) {
  .main-page-js-description .force-right {
    margin-right: -30%;
  }
}

.main-page-statistics {
  position: relative;
  padding-bottom: 40px;
}
.main-page-statistics .design-element-sus {
  width: 100%;
}
.main-page-statistics .design-element-sus .bara-subtire {
  background-color: #333333;
  height: 50px;
  margin-bottom: 50px;
}
.main-page-statistics .design-element-sus .bara-groasa {
  background-color: #333333;
  height: 100px;
}
.main-page-statistics .design-element-sus .bara-roz {
  background-color: rgba(204, 31, 54, 0.4980392157);
  height: 200px;
}
.main-page-statistics .design-element-jos .text {
  position: relative;
}
.main-page-statistics .design-element-jos .text * {
  font-size: 3em;
  font-weight: 200;
}
@media (max-width: 600px) {
  .main-page-statistics .design-element-jos .text * {
    font-size: 2.3em;
  }
}
@media (max-width: 500px) {
  .main-page-statistics .design-element-jos .text * {
    font-size: 2em;
  }
}
.main-page-statistics .design-element-jos .text #left {
  margin-left: 40px;
}
.main-page-statistics .design-element-jos .text #right {
  position: absolute;
  right: 40px;
  top: 0;
}
@media (max-width: 500px) {
  .main-page-statistics .design-element-jos .text #left {
    margin-left: 20px;
  }
  .main-page-statistics .design-element-jos .text #right {
    right: 20px;
  }
}
.main-page-statistics .design-element-jos .rectangle {
  width: 100%;
  height: 50px;
  background-color: #333333;
}
.main-page-statistics .photos-carrousel {
  margin-top: -150px;
  position: relative;
  width: 100%;
  min-height: 400px;
  transition: min-height 1s;
}
@media screen and (max-width: 900px) {
  .main-page-statistics .photos-carrousel {
    min-height: 250px;
  }
}
@media screen and (max-width: 600px) {
  .main-page-statistics .photos-carrousel {
    min-height: 200px;
  }
}
.main-page-statistics .photos-carrousel .card {
  transition: all 1s;
  transform-origin: top left;
  position: absolute;
  top: 0;
}
.main-page-statistics .photos-carrousel .card .text {
  transition: max-height 1s;
  max-height: 0;
  overflow-y: hidden;
}
.main-page-statistics .photos-carrousel #card-1 {
  left: 10%;
  transform: translateX(-10%);
}
.main-page-statistics .photos-carrousel #card-2 {
  left: 50%;
  transform: translateX(-50%);
}
.main-page-statistics .photos-carrousel #card-3 {
  left: 90%;
  transform: translateX(-90%);
}
.main-page-statistics .photos-carrousel[data-move=card-1] {
  min-height: 600px;
}
.main-page-statistics .photos-carrousel[data-move=card-1] #card-1 {
  left: 75%;
  transform: translateX(-75%);
  width: 700px;
}
.main-page-statistics .photos-carrousel[data-move=card-1] #card-1 .text {
  max-height: 1000px;
}
.main-page-statistics .photos-carrousel[data-move=card-1] #card-2, .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
  top: 30px;
  left: 10%;
  transform: translateX(-10%);
  transform: scale(0.5);
}
.main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
  top: 250px;
}
@media screen and (max-width: 1300px) {
  .main-page-statistics .photos-carrousel[data-move=card-1] {
    min-height: 650px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-1 {
    width: 600px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-2, .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
    top: 50px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
    top: 250px;
  }
}
@media screen and (max-width: 900px) {
  .main-page-statistics .photos-carrousel[data-move=card-1] {
    min-height: 550px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-1 {
    width: 550px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-2, .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
    top: -80px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
    left: 20%;
  }
}
@media screen and (max-width: 600px) {
  .main-page-statistics .photos-carrousel[data-move=card-1] {
    min-height: 700px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-1 {
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-2, .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
    width: 150px;
    top: -100px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-2 img, .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 img {
    width: 150px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-2 .stat, .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 .stat {
    font-size: 3rem;
    margin-top: -2.5rem;
  }
  .main-page-statistics .photos-carrousel[data-move=card-1] #card-3 {
    left: 25%;
  }
}
.main-page-statistics .photos-carrousel[data-move=card-2] {
  min-height: 550px;
}
.main-page-statistics .photos-carrousel[data-move=card-2] #card-2 {
  left: 75%;
  transform: translateX(-75%);
  width: 700px;
}
.main-page-statistics .photos-carrousel[data-move=card-2] #card-2 .text {
  max-height: 1000px;
}
.main-page-statistics .photos-carrousel[data-move=card-2] #card-1, .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
  top: 30px;
  left: 10%;
  transform: translateX(-10%);
  transform: scale(0.5);
}
.main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
  top: 250px;
}
@media screen and (max-width: 1300px) {
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-2 {
    width: 600px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-1, .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
    top: 50px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
    top: 250px;
  }
}
@media screen and (max-width: 900px) {
  .main-page-statistics .photos-carrousel[data-move=card-2] {
    min-height: 400px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-2 {
    width: 550px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-1, .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
    top: -80px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
    left: 20%;
  }
}
@media screen and (max-width: 600px) {
  .main-page-statistics .photos-carrousel[data-move=card-2] {
    min-height: 550px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-2 {
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-1, .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
    width: 150px;
    top: -100px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-1 img, .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 img {
    width: 150px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-1 .stat, .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 .stat {
    font-size: 3rem;
    margin-top: -2.5rem;
  }
  .main-page-statistics .photos-carrousel[data-move=card-2] #card-3 {
    left: 25%;
  }
}
.main-page-statistics .photos-carrousel[data-move=card-3] {
  min-height: 700px;
}
.main-page-statistics .photos-carrousel[data-move=card-3] #card-3 {
  left: 75%;
  transform: translateX(-75%);
  width: 700px;
}
.main-page-statistics .photos-carrousel[data-move=card-3] #card-3 .text {
  max-height: 1000px;
}
.main-page-statistics .photos-carrousel[data-move=card-3] #card-1, .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
  top: 30px;
  left: 10%;
  transform: translateX(-10%);
  transform: scale(0.5);
}
.main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
  top: 250px;
}
@media screen and (max-width: 1300px) {
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-3 {
    width: 600px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-1, .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
    top: 50px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
    top: 250px;
  }
}
@media screen and (max-width: 900px) {
  .main-page-statistics .photos-carrousel[data-move=card-3] {
    min-height: 600px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-3 {
    width: 550px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-1, .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
    top: -80px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
    left: 20%;
  }
}
@media screen and (max-width: 600px) {
  .main-page-statistics .photos-carrousel[data-move=card-3] {
    min-height: 850px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-3 {
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-1, .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
    width: 150px;
    top: -100px;
    left: 5%;
    transform: translateX(-5%);
    transform: scale(0.5);
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-1 img, .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 img {
    width: 150px;
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-1 .stat, .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 .stat {
    font-size: 3rem;
    margin-top: -2.5rem;
  }
  .main-page-statistics .photos-carrousel[data-move=card-3] #card-2 {
    left: 25%;
  }
}
@media (max-width: 1000px) {
  .main-page-statistics .bara-roz {
    height: 150px;
  }
  .main-page-statistics .photos-carrousel {
    margin-top: -100px;
  }
}
@media (max-width: 650px) {
  .main-page-statistics .bara-roz {
    height: 100px;
  }
  .main-page-statistics .photos-carrousel {
    margin-top: -70px;
  }
}

.main-page-hts .hts-image {
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.main-page-hts .design-element-sus {
  width: 100%;
}
.main-page-hts .blue-bar {
  width: 100%;
  height: 250px;
  background-color: rgba(59, 86, 166, 0.4980392157);
  margin-top: -7px;
}
.main-page-hts .grid-layout-hts {
  padding-bottom: 60px;
  margin: 0 auto;
  margin-top: -12.5rem;
  width: 80%;
  display: grid;
}
@media (min-width: 961px) {
  .main-page-hts .grid-layout-hts {
    grid-template-areas: "logo date" "logo description";
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto;
  }
}
@media (max-width: 960px) {
  .main-page-hts .grid-layout-hts {
    grid-template-areas: "logo" "description" "date";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
  }
}
.main-page-hts .hts-logo {
  grid-area: logo;
  align-self: center;
}
.main-page-hts .hts-description {
  grid-area: description;
  width: 80%;
  font-size: 1.5em;
  font-weight: 200;
  text-align: justify;
  text-align-last: left;
  justify-self: flex-end;
}
.main-page-hts .hts-date {
  grid-area: date;
  font-size: 2em;
  font-weight: 800;
  color: #3b56a6;
  align-self: flex-end;
  justify-self: flex-end;
}
@media (min-width: 961px) {
  .main-page-hts .hts-logo {
    content: url("/design_elements/hts_prezentare_windows.svg");
  }
}
@media (max-width: 960px) {
  .main-page-hts .hts-logo {
    content: url("/design_elements/hts_prezentare_telefon.svg");
    align-self: center;
    justify-self: left;
    width: 70%;
    margin-bottom: 20px;
  }
  .main-page-hts .hts-description {
    width: 100%;
    justify-self: center;
  }
  .main-page-hts .grid-layout-hts {
    margin-top: -10rem;
  }
}
@media (max-width: 800px) {
  .main-page-hts .hts-logo {
    width: 80%;
  }
  .main-page-hts .grid-layout-hts {
    margin-top: -7rem;
  }
}
@media (max-width: 600px) {
  .main-page-hts .hts-logo {
    width: 90%;
  }
  .main-page-hts .grid-layout-hts {
    margin-top: -6rem;
  }
}
