* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 400;
}

html {
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.section {
  height: fit-content;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
}

.force-right {
  position: absolute;
  right: 0;
}

.center-x {
  margin: 0 auto;
}

.center-text-x {
  text-align: center;
}

.center-content-y {
  display: flex;
  align-items: center;
}

.main-page-banner {
  margin-bottom: -4px;
}

.main-page-catchprase {
  background-color: rgba(59, 86, 166, 0.4980392157);
  padding: 20px;
}
.main-page-catchprase h1 {
  color: white;
  font-weight: 700;
}
.main-page-catchprase .catch-phrase {
  position: relative;
  width: 85%;
  height: 50px;
  background-color: #333333;
  margin-top: 20px;
  padding: 0 20px;
}
.main-page-catchprase .catch-phrase p {
  text-align: center;
  color: white;
}
.main-page-catchprase .catch-phrase a {
  all: unset;
  cursor: pointer;
  background-color: #FFFFFF;
  padding: 5px;
  font-weight: 200;
  font-family: Inter;
}
@media (min-width: 601px) {
  .main-page-catchprase .catch-phrase a {
    position: absolute;
    margin-right: 20px;
    right: 0;
  }
}
@media (max-width: 600px) {
  .main-page-catchprase .catch-phrase {
    flex-direction: column;
    height: 90px;
    padding: 15px 20px;
    width: max-content;
  }
  .main-page-catchprase .catch-phrase a {
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 20px 20px 0;
  }
}

.main-page-video {
  position: relative;
}
.main-page-video .element-design-sus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.main-page-video .element-design-jos {
  width: 100%;
  height: 75px;
  background-color: #333333;
}
.main-page-video video {
  position: relative;
  z-index: 0;
  width: 100%;
}

.main-page-js-description {
  position: relative;
  padding: 30px;
  justify-items: center;
  min-height: 90vh;
  overflow: hidden;
}
.main-page-js-description .force-right {
  height: 100%;
  z-index: 0;
}
.main-page-js-description .js-logo {
  width: 70%;
  justify-self: center;
  content: url("/design_elements/jobshop_prezentare_windows.svg");
  z-index: 1;
}
.main-page-js-description p {
  word-wrap: normal;
  width: 60%;
  text-align: justify;
  text-align-last: left;
  justify-self: left;
  font-size: 1.5rem;
  font-weight: 200;
  z-index: 1;
}

@media (min-width: 961px) {
  .grid-layout-js {
    display: grid;
    grid-template-areas: "col1 col2";
    grid-template-columns: 30% auto;
  }
}
@media (max-width: 960px) {
  .main-page-js-description {
    justify-items: left;
  }
  .main-page-js-description .js-logo {
    content: url("/design_elements/jobshop_prezentare_telefon.svg");
    justify-self: left;
    margin-top: 40px;
  }
  .main-page-js-description p {
    margin-bottom: 40px;
  }
  .grid-layout-js {
    display: grid;
    grid-template-areas: "row1" "row2";
    grid-template-rows: auto auto;
  }
}
@media (max-width: 512px) {
  .main-page-js-description p {
    font-size: 1.25rem;
  }
}
@media (max-width: 450px) {
  .main-page-js-description .force-right {
    margin-right: -80%;
  }
}
@media (min-width: 451px) and (max-width: 460px) {
  .main-page-js-description .force-right {
    margin-right: -70%;
  }
}
@media (min-width: 461px) and (max-width: 500px) {
  .main-page-js-description .force-right {
    margin-right: -60%;
  }
}
@media (min-width: 501px) and (max-width: 560px) {
  .main-page-js-description .force-right {
    margin-right: -50%;
  }
}
@media (min-width: 561px) and (max-width: 660px) {
  .main-page-js-description .force-right {
    margin-right: -30%;
  }
}

.main-page-statistics {
  position: relative;
  padding-bottom: 40px;
}
.main-page-statistics .design-element-sus {
  width: 100%;
}
.main-page-statistics .design-element-sus .bara-subtire {
  background-color: #333333;
  height: 50px;
  margin-bottom: 50px;
}
.main-page-statistics .design-element-sus .bara-groasa {
  background-color: #333333;
  height: 100px;
}
.main-page-statistics .design-element-sus .bara-roz {
  background-color: rgba(204, 31, 54, 0.4980392157);
  height: 200px;
}
.main-page-statistics .design-element-jos .text {
  position: relative;
}
.main-page-statistics .design-element-jos .text * {
  font-size: 3em;
  font-weight: 200;
}
@media (max-width: 600px) {
  .main-page-statistics .design-element-jos .text * {
    font-size: 2.3em;
  }
}
@media (max-width: 500px) {
  .main-page-statistics .design-element-jos .text * {
    font-size: 2em;
  }
}
.main-page-statistics .design-element-jos .text #left {
  margin-left: 40px;
}
.main-page-statistics .design-element-jos .text #right {
  position: absolute;
  right: 40px;
  top: 0;
}
@media (max-width: 500px) {
  .main-page-statistics .design-element-jos .text #left {
    margin-left: 20px;
  }
  .main-page-statistics .design-element-jos .text #right {
    right: 20px;
  }
}
.main-page-statistics .design-element-jos .rectangle {
  width: 100%;
  height: 50px;
  background-color: #333333;
}
.main-page-statistics .photos {
  margin-top: -150px;
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .main-page-statistics .bara-roz {
    height: 150px;
  }
  .main-page-statistics .photos {
    margin-top: -100px;
  }
}
@media (max-width: 650px) {
  .main-page-statistics .bara-roz {
    height: 100px;
  }
  .main-page-statistics .photos {
    margin-top: -70px;
  }
}

.main-page-hts .hts-image {
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.main-page-hts .design-element-sus {
  width: 100%;
}
.main-page-hts .blue-bar {
  width: 100%;
  height: 150px;
  background-color: rgba(59, 86, 166, 0.4980392157);
  margin-top: -4px;
}

.main-page-hts .grid-layout-hts {
  padding-bottom: 60px;
  margin: 0 auto;
  margin-top: -8rem;
  width: 80%;
  display: grid;
}
@media (min-width: 961px) {
  .main-page-hts .grid-layout-hts {
    grid-template-areas: "logo date" "logo description";
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto;
  }
}
@media (max-width: 960px) {
  .main-page-hts .grid-layout-hts {
    grid-template-areas: "logo" "description" "date";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
  }
}
.main-page-hts .hts-logo {
  grid-area: logo;
  align-self: center;
}
.main-page-hts .hts-description {
  grid-area: description;
  width: 80%;
  font-size: 1.5em;
  font-weight: 200;
  text-align: justify;
  text-align-last: left;
  justify-self: flex-end;
}
.main-page-hts .hts-date {
  grid-area: date;
  font-size: 2em;
  font-weight: 800;
  color: #3b56a6;
  align-self: flex-end;
  justify-self: flex-end;
}
@media (min-width: 961px) {
  .main-page-hts .hts-logo {
    content: url("/design_elements/hts_prezentare_windows.svg");
  }
}
@media (max-width: 960px) {
  .main-page-hts .hts-logo {
    content: url("/design_elements/hts_prezentare_telefon.svg");
    align-self: center;
    justify-self: left;
    width: 70%;
    margin-bottom: 20px;
  }
  .main-page-hts .hts-description {
    width: 100%;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .main-page-hts .hts-logo {
    width: 80%;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .main-page-hts .hts-logo {
    width: 90%;
  }
  .main-page-hts .grid-layout-hts {
    margin-top: -6rem;
  }
}
