nav {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #333333;
  z-index: 100;
  color: white;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
}
nav * {
  font-weight: 600;
}
nav a {
  all: unset;
  cursor: pointer;
}
nav .burger-menu {
  height: 40px;
}
nav .option-buttons {
  margin-right: 20px;
}
nav .option-buttons * {
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
nav #js-logo {
  margin-left: 30px;
  height: 40px;
}
nav .anchors {
  display: flex;
  flex-direction: row;
  width: calc(100% - 400px);
  justify-content: center;
  column-gap: 30px;
  margin-left: 40px;
}
nav #anchors-floating {
  display: flex;
  transform: translateZ(-10px);
  width: 100%;
  height: 300px;
  height: fit-content;
  text-align: center;
  background-color: #333333;
  position: absolute;
  left: 0;
  bottom: 80px;
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: top;
  flex-direction: column;
  row-gap: 10px;
  font-size: 2em;
}
nav #anchors-floating * {
  width: 100%;
}
nav #anchors-floating[data-active] {
  transform: translateY(373px);
}
nav .burger-menu {
  display: none;
}
@media (max-width: 950px) {
  nav .anchors {
    display: none;
  }
  nav .burger-menu {
    display: inline;
  }
}
@media (max-width: 600px) {
  nav .option-buttons *, nav #js-logo {
    height: 30px;
  }
  nav .option-buttons {
    margin-right: 5px;
  }
}
