nav {
  height: 80px;
  width: 100%;
  background-color: #333333;
  z-index: 2;
  color: white;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
}
nav img {
  margin-right: 20px;
}
nav #js-logo {
  margin-left: 30px;
}
nav #drop-down {
  cursor: pointer;
}
