@charset "UTF-8";
@keyframes bounce {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
.card img {
  display: block;
  aspect-ratio: 1/1;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}
.card .stat {
  text-align: center;
  color: #333333;
  font-weight: 300;
  margin-top: -3rem;
  font-size: 4.5rem;
  text-shadow: 2px 2px #fff, -2px 2px #fff, 2px -2px #fff, -2px -2px #fff, 0 2px #fff, 0 -2px #fff, 2px 0 #fff, -2px 0 #fff;
  position: relative;
}
.card .stat::after {
  content: "▼";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  animation-name: bounce;
  animation-delay: 0;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  cursor: pointer;
  bottom: 0;
}
@media screen and (max-width: 900px) {
  .card .stat::after {
    bottom: -10px;
  }
}
@media screen and (max-width: 600px) {
  .card .stat::after {
    font-size: 0.8rem;
  }
}
.card .text {
  width: 100%;
}
.card .text * {
  text-align: justify;
  text-align-last: left;
  font-size: 1.5rem;
  font-weight: 200;
}
@media screen and (min-width: 1300.1px) {
  .card {
    width: 300px;
  }
  .card img {
    width: 300px;
  }
}
@media screen and (max-width: 1300px) {
  .card {
    width: 250px;
  }
  .card img {
    width: 250px;
  }
}
@media screen and (max-width: 900px) {
  .card {
    width: 150px;
  }
  .card img {
    width: 150px;
  }
  .card .stat {
    font-size: 3rem;
    margin-top: -2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 100px;
  }
  .card img {
    width: 100px;
  }
  .card .stat {
    font-size: 2rem;
    margin-top: -1.5rem;
  }
}
