.card img {
  display: block;
  aspect-ratio: 1/1;
  height: auto;
  margin: 0 auto;
}
.card .stat {
  text-align: center;
  color: #333333;
  font-weight: 300;
  margin-top: -3rem;
  font-size: 4.5rem;
}
.card .text {
  width: 100%;
}
.card .text * {
  text-align: justify;
  text-align-last: left;
  font-size: 1.5rem;
  font-weight: 200;
}
@media screen and (min-width: 1300.1px) {
  .card {
    width: 300px;
  }
  .card img {
    width: 300px;
  }
}
@media screen and (max-width: 1300px) {
  .card {
    width: 250px;
  }
  .card img {
    width: 250px;
  }
}
@media screen and (max-width: 900px) {
  .card {
    width: 150px;
  }
  .card img {
    width: 150px;
  }
  .card .stat {
    font-size: 3rem;
    margin-top: -2.5rem;
  }
}
