.team-card {
  width: 300px;
}
.team-card .poza {
  display: block;
  aspect-ratio: 4/3;
  width: 300px;
  border: 2px solid black;
}
.team-card p {
  text-align: center;
  font-size: 2rem;
}
.team-card .nume {
  font-weight: 800;
  color: #3b56a6;
  margin-top: -30px;
}
.team-card .pozitie {
  font-weight: 700;
  color: rgba(59, 86, 166, 0.4980392157);
  margin-top: -20px;
}
