.meet-the-team {
  position: relative;
}
.meet-the-team .mtt-title {
  padding: 60px 0;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: #cc1f36;
  text-shadow: 3px 3px rgba(204, 31, 54, 0.4980392157);
}
.meet-the-team .js-team-photos {
  margin: 60px 0;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-areas: ". Bia ." "Laur . Ria" "Mirzi . Anda" "Raul . Dia" ". Maria ." "Roman Anca Casi" "Alex . Bia-Bob";
  grid-template-columns: auto auto auto;
  row-gap: 120px;
}
.meet-the-team .js-team-photos #Bia {
  grid-area: Bia;
}
.meet-the-team .js-team-photos #Laur {
  grid-area: Laur;
}
.meet-the-team .js-team-photos #Ria {
  grid-area: Ria;
}
.meet-the-team .js-team-photos #Mirzi {
  grid-area: Mirzi;
}
.meet-the-team .js-team-photos #Anda {
  grid-area: Anda;
}
.meet-the-team .js-team-photos #Raul {
  grid-area: Raul;
}
.meet-the-team .js-team-photos #Dia {
  grid-area: Dia;
}
.meet-the-team .js-team-photos #Maria {
  grid-area: Maria;
}
.meet-the-team .js-team-photos #Roman {
  grid-area: Roman;
  margin-left: -60px;
}
.meet-the-team .js-team-photos #Anca {
  grid-area: Anca;
}
.meet-the-team .js-team-photos #Casi {
  grid-area: Casi;
  margin-left: 60px;
}
.meet-the-team .js-team-photos #Alex {
  grid-area: Alex;
}
.meet-the-team .js-team-photos #Bia-Bob {
  grid-area: Bia-Bob;
}
@media screen and (max-width: 1000px) {
  .meet-the-team .js-team-photos {
    grid-template-areas: "Bia" "Laur" "Ria" "Mirzi" "Anda" "Raul" "Dia" "Maria" "Roman" "Anca" "Casi" "Alex" "Bia-Bob";
  }
  .meet-the-team .js-team-photos #Roman {
    margin-left: 0;
  }
  .meet-the-team .js-team-photos #Casi {
    margin-left: 0;
  }
}
