.meet-the-team {
  position: relative;
  min-height: 100vh !important;
}
.meet-the-team .vertical-strip {
  height: 100vw;
  position: absolute;
  left: 50vw;
  transform-origin: left;
  transform: rotateZ(-90deg);
  display: none;
}
.meet-the-team .js-team-photos {
  padding: 20px;
  z-index: 1;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-areas: ". Bia ." "Laur . Ria" "Mirzi . Anda" "Raul . Dia";
}
@media screen and (max-width: 1000px) {
  .meet-the-team .js-team-photos {
    grid-template-areas: "Bia" "Laur" "Ria" "Mirzi" "Anda" "Raul" "Dia";
    row-gap: 40px;
  }
}
.meet-the-team .js-team-photos #Bia {
  grid-area: Bia;
}
.meet-the-team .js-team-photos #Laur {
  grid-area: Laur;
}
.meet-the-team .js-team-photos #Ria {
  grid-area: Ria;
}
.meet-the-team .js-team-photos #Mirzi {
  grid-area: Mirzi;
}
.meet-the-team .js-team-photos #Anda {
  grid-area: Anda;
}
.meet-the-team .js-team-photos #Raul {
  grid-area: Raul;
}
.meet-the-team .js-team-photos #Dia {
  grid-area: Dia;
}
