---
import BaseLayout from "../layouts/BaseLayout.astro";

import BookAllPages from "../components/BookAllPages.astro";
import BookAllPagesNarrow from "../components/BookAllPagesNarrow.astro";

//!!! NUMARUL DE PAGINI DIN public/scripts/bookAnimation.js !!!
//!!! NUMARUL DE PAGINI DIN public/scripts/bookAnimationNarrow.js !!!
const numberOfPages = 10;
---

<BaseLayout>
    
    <div id="center">
        <div id="book-wrapper">
            
            <button id="prev" onclick="animatie(-1)"></button>
            <button id="next" onclick="animatie(1)"></button>
            <!-- <button id="buton-cuprins" onclick="goToPage(4)"> CUPRINS </button> -->
    
            <div id="book">
                <BookAllPages numberOfPages={numberOfPages / 2} />
            </div> <!-- end of book -->
        </div> <!-- end of book wrapper -->


        <div id="book-wrapper-narrow">
        
            <button id="prev-narrow" onclick="animatieNarrow(-1)"></button>
            <button id="next-narrow" onclick="animatieNarrow(1)"></button>
            <!-- <button id="buton-cuprins-narrow" onclick="goToPageNarrow(6)"> CUPRINS </button> -->
            
            <div id="book-narrow">
                <BookAllPagesNarrow numberOfPages={numberOfPages} />
            </div> <!-- end of book -->
            <div class="right-arrow" onclick="animatieNarrow(1)"> &rarr; </div>
            <div class="left-arrow" onclick="animatieNarrow(-1)"> &larr; </div>
        </div> <!-- end of book wrapper -->
    </div>
    
    <script src="/scripts/bookAnimation.js" is:inline></script>
    <script src="/scripts/bookAnimationNarrow.js" is:inline></script>

</BaseLayout>

<style>

    #center {

        width: 100%;
        height: 700px;
        display: flex;

        justify-content: center;
        align-items: center;
    }
    
</style>