---
import BaseLayout from "../layouts/BaseLayout.astro";
import StatsCardLayout from "../layouts/StatsCardLayout.astro";
---

<BaseLayout>

	<section class="main-page-banner section" id="home-anchor">

		<img src="/design_elements/poza_principala.svg" alt="main-page-banner">

	</section>
	
	<section class="main-page-catchprase section">

		<h1 class="center-text-x" data-lang="en"> BT ARENA | 31 march - 1 april </h1>
		<h1 class="center-text-x" data-lang="ro"> BT ARENA | 31 martie - 1 aprilie </h1>

		<div class="catch-phrase center-x center-content-y">

			<p> redefine success. shape your future. </p>
			<a href="#descriere-js" data-lang="en"> Learn more </a>
			<a href="#descriere-js" data-lang="ro"> Mai multe </a>
			
		</div>

	</section>

	<section class="main-page-video section">

		<img src="/design_elements/bara_video.svg" alt="design element" class="element-design-sus">
		<video autoplay muted playsinline>
			<source src="/video/slide_show.mp4" type="video/mp4"/>
		</video>
		<div class="element-design-jos"></div>

	</section>

	<section class="main-page-js-description section" id="descriere-js">

		<div class="grid-layout-js center-content-y">
			<img src="/design_elements/jobshop_prezentare_windows.svg" alt="JobShop® logo" class="js-logo">
	
			<p data-lang="en">
				JobShop® returns this year with its 31st edition, standing out annually in the Cluj student community.
				For two days, participants have the opportunity to interact with representatives of top companies at
				presentation booths. Additionally, they gain access to interactive workshops hosted by partner companies,
				where they can enhance their skills and practical knowledge in their field of interest. This experience represents
				the ideal opportunity for networking and exploring career options in a dynamic and stimulating environment.
			</p>
			<p data-lang="ro">
				JobShop® se reîntoarce și anul acesta cu cea de-a 31-a ediție, remarcându-se anual în comunitatea studenților clujeni.
				Timp de două zile, participanții au ocazia să interacționeze cu reprezentanții unor companii de top în cadrul
				standurilor de prezentare. În plus, aceștia au acces la workshop-uri interactive susținute de companiile
				partenere, unde își pot îmbunătăți abilitățile și cunoștințele practice în domeniul de interes. Această experiență
				reprezintă oportunitatea ideală de networking și explorare a opțiunilor de carieră, într-un mediu dinamic și stimulant.
			</p>

		</div>

		<img src="/design_elements/fundal_prezentare.svg" alt="design element" class="force-right">

	</section>

	<section class="main-page-statistics section">

		<div class="design-element-sus">
			<div class="bara-subtire"></div>
			<div class="bara-groasa"></div>
			<div class="bara-roz"></div>
		</div>

		<div class="photos-carrousel">

			<StatsCardLayout fontColor="#3b56a6" stat="1300" idCard="card-1" imgSrc="/stats_photos/poza_1300.svg">
				<span data-lang="ro">
					JobShop® are un impact semnificativ în rândul studenților, reușind să atragă un număr impresionant
					de participanți an de an. La ediția precedentă, aproximativ 1300 de studenți au luat parte la eveniment,
					demonstrând interesul crescut pentru oportunitățile de carieră și dezvoltare profesională pe care le oferim
					în cadrul evenimentului.
				</span>
				<span data-lang="en">
					JobShop® has a significant impact among students, managing to attract an impressive number of participants year
					after year. At the previous edition, approximately 1300 students took part in the event, demonstrating the growing
					interest in career opportunities and professional development that we offer.
				</span>
			</StatsCardLayout>

			<StatsCardLayout fontColor="#333333" stat="14" idCard="card-2" imgSrc="/stats_photos/poza_14.svg">
				<span data-lang="ro">
					Atât numărul crescut de studenți participanți, cât și colaborarea cu cele 14 companii care au oferit
					sprijinul lor în cadrul evenimentului, au contribuit la realizarea unui eveniment de impact în comunitatea clujeană. 
				</span>
				<span data-lang="en">
					Both the increasing number of student participants and the collaboration with the 14 companies that supported the
					event contributed to creating a meaningful impact within the Cluj community.
				</span>
			</StatsCardLayout>
			
			<StatsCardLayout fontColor="#cc1f36" stat="31" idCard="card-3" imgSrc="/stats_photos/poza_31.svg">
				<span data-lang="ro">
					La cea de-a 31-a ediție a JobShop-ului, ne bucurăm să continuăm tradiția unui eveniment dedicat dezvoltării
					profesionale a studenților. Prin aceasta reflectăm angajamentul nostru de a crea oportunități valoroase pentru
					tineri, conectându-i cu cele mai de top companii din domeniul tehnic și sprijinindu-i în construirea unei
					cariere de succes. Rămânem în continuare dedicați misiunii noastre de a facilita parcursul profesional al studenților.
				</span>
				<span data-lang="en">
					For the 31st edition of JobShop®, we are pleased to continue the tradition of an event dedicated to students'
					professional development. This reflects our commitment to creating valuable opportunities for young people by
					connecting them with top companies in the technical field and supporting them in building a successful career.
					We remain dedicated to our mission of facilitating students' professional journeys.
				</span>
			</StatsCardLayout>

		</div>

		<div class="design-element-jos">

			<div class="text">
				<div id="left"> so... </div> <div id="right"> career event? </div>
			</div>
			<div class="rectangle"></div>

		</div>

	</section>

	<section class="main-page-hts section" id="hts-anchor">

		<img src="/hts/hts.JPG" alt="hts image" class="hts-image">
		<img src="/design_elements/bara_hts.svg" alt="design element" class="design-element-sus">
		<div class="blue-bar"></div>

		<div class="grid-layout-hts">

			<img src="/design_elements/hts_prezentare_windows.svg" alt="logo hts" class="hts-logo">
			<p class="hts-description" data-lang="ro">
				Mai mult decât atât, dacă îți dorești să descoperi lumea antreprenoriatului și să înveți cum
				să-ți construiești propriul business, How to Start-Up este evenimentul potrivit pentru tine! Pe data
				de 27 martie, ai ocazia să participi la o prezentare/conferință motivațională alături de antreprenori
				de succes, care îți vor împărtăși experiențele lor și pașii esențiali în lansarea unei afaceri. Vino
				să explorezi oportunitățile din lumea start-up-urilor și cum poți face o idee să prospere/aibă succes
				(cum poți face dintr-o idee sursa veniturilor tale)!
			</p>
			<p class="hts-description" data-lang="en">
				Moreover, if you want to discover the world of entrepreneurship and learn how to build your own business,
				“How to Start-Up” is the perfect event for you! On March 27th, you'll have the chance to attend a motivational
				conference alongside successful entrepreneurs who will share their experiences and the essential steps to
				launching a business. Come explore the opportunities within the start-up world and learn how to turn an idea
				into a thriving source of income!
			</p>
			<p class="hts-date"> 27 march </p>

		</div>

	</section>

</BaseLayout>
