---
import BaseLayout from "../layouts/BaseLayout.astro";
import StatsCardLayout from "../layouts/StatsCardLayout.astro";
---

<BaseLayout>

	<section class="main-page-banner section" id="home-anchor">

		<img src="/design_elements/poza_principala.svg" alt="main-page-banner">

	</section>
	
	<section class="main-page-catchprase section">

		<h1 class="center-text-x"> BT ARENA | 31 march - 1 april </h1>

		<div class="catch-phrase center-x center-content-y">

			<p> redefine success. shape your future. </p>
			<a href="#descriere-js"> Learn more </a>
			
		</div>

	</section>

	<section class="main-page-video section">

		<img src="/design_elements/bara_video.svg" alt="design element" class="element-design-sus">
		<video src=""></video>
		<div class="element-design-jos"></div>

	</section>

	<section class="main-page-js-description section grid-layout-js center-content-y" id="descriere-js">

		<img src="/design_elements/jobshop_prezentare_windows.svg" alt="JobShop® logo" class="js-logo">

		<p>
			JobShop® se reîntoarce și anul acesta cu cea de-a 31-a ediție, remarcându-se anual în comunitatea studenților clujeni.
			Timp de două zile, participanții au ocazia să interacționeze cu reprezentanții unor companii de top în cadrul
			standurilor de prezentare. În plus, aceștia au acces la workshop-uri interactive susținute de companiile
			partenere, unde își pot îmbunătăți abilitățile și cunoștințele practice în domeniul de interes. Această experiență
			reprezintă oportunitatea ideală de networking și explorare a opțiunilor de carieră, într-un mediu dinamic și stimulant.
		</p>

		<img src="/design_elements/fundal_prezentare.svg" alt="design element" class="force-right test">

	</section>

	<section class="main-page-statistics section">

		<img src="/design_elements/bara_sub_prezentare.svg" alt="design element" class="design-element-sus">
		<div class="bara-roz"></div>

		<div class="photos">

			<StatsCardLayout fontColor="#3b56a6" stat="1300">
				JobShop® are un impact semnificativ în rândul studenților, reușind să atragă un număr impresionant
				de participanți an de an. La ediția precedentă, aproximativ 1300 de studenți au luat parte la eveniment,
				demonstrând interesul crescut pentru oportunitățile de carieră și dezvoltare profesională pe care le oferim
				în cadrul evenimentului.
			</StatsCardLayout>

			<StatsCardLayout fontColor="#333333" stat="14">
				Atât numărul crescut de studenți participanți, cât și colaborarea cu cele 14 companii care au oferit
				sprijinul lor în cadrul evenimentului, au contribuit la realizarea unui eveniment de impact în comunitatea clujeană. 
			</StatsCardLayout>
			
			<StatsCardLayout fontColor="#cc1f36" stat="31">
				La cea de-a 31-a ediție a JobShop-ului, ne bucurăm să continuăm tradiția unui eveniment dedicat dezvoltării
				profesionale a studenților. Prin aceasta reflectăm angajamentul nostru de a crea oportunități valoroase pentru
				tineri, conectându-i cu cele mai de top companii din domeniul tehnic și sprijinindu-i în construirea unei
				cariere de succes. Rămânem în continuare dedicați misiunii noastre de a facilita parcursul profesional al studenților.
			</StatsCardLayout>

		</div>

		<div class="design-element-jos">

			<div class="text">
				<div id="left"> so... </div> <div id="right"> career event? </div>
			</div>
			<div class="rectangle"></div>

		</div>

	</section>

	<section class="main-page-hts section" id="hts-anchor">

		<img src="" alt="hts image" class="hts-image">
		<img src="/design_elements/bara_hts.svg" alt="design element" class="design-element-sus">
		<div class="blue-bar"></div>

		<div class="grid-layout-hts">

			<img src="/design_elements/hts_prezentare_windows.svg" alt="logo hts" class="hts-logo">
			<p class="hts-description">
				Mai mult decât atât, dacă îți dorești să descoperi lumea antreprenoriatului și să înveți cum
				să-ți construiești propriul business, How to Start-Up este evenimentul potrivit pentru tine! Pe data
				de 27 martie, ai ocazia să participi la o prezentare/conferință motivațională alături de antreprenori
				de succes, care îți vor împărtăși experiențele lor și pașii esențiali în lansarea unei afaceri. Vino
				să explorezi oportunitățile din lumea start-up-urilor și cum poți face o idee să prospere/aibă succes
				(cum poți face dintr-o idee sursa veniturilor tale)!
			</p>
			<p class="hts-date"> 27 march </p>

		</div>

	</section>

</BaseLayout>
