---
import "../styles/jobs.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import CompanyCard from "../components/CompanyCard.astro";
---

<BaseLayout>

    <section class="job-opp-companies section">

        <div class="pink-bar-extension">
            <h1> Job Opportunities </h1>
            <!-- <h1 class="catch-phrase"> ceva catch-phrase </h1> -->
        </div>
        <img src="/design_elements/bara_video.svg" alt="design element" class="top-pink-bar">

        <div class="companies">

            <CompanyCard companyLogo="/logos/accenture.png" companyName="Accenture" companySite="https://www.accenture.com/ro-en">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/analog_devices.png" companyName="Analog Devices.png" forceImgWidth="120%" companySite="https://www.analog.com/en/index.html">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/barebyte-transparent.png" companyName="Barebyte" forceImgWidth="300%" companySite="https://www.barebyte.com/">
                <span data-lang="ro">
                    Barebyte Software este o companie înfiinţată în anul 2016, avem biroul în Cluj-Napoca, iar în
                    prezent avem o echipă de 5 programatori, pe care căutam în mod constant să o extindem.
                    Compania noastră oferă servicii complete de dezvoltare software, într-o strânsă colaborare cu
                    clienţii noştri. În momentul de faţă ne concentrăm pe dezvoltarea de aplicaţii pentru o companie
                    internațională de gestionare a activelor energetice, care operează pe piețele energetice din
                    Europa, asigurând optimizarea fizică și financiară a activelor de energie regenerabilă și
                    convențională.
                    Programatorii noştri lucrează în mai multe echipe, fiecare fiind integrată cu o echipă de la
                    client, formând astfel o echipă internaţională. În cadrul fiecărei echipe lucrăm pe mai multe
                    proiecte, de diferite tipuri şi dimensiuni, în funcţie de domeniul specific de care se ocupă.
                    Numitorul comun îl reprezinta tehnologiile folosite, proiectele realizate de noi folosind
                    tehnologii şi limbaje precum .NET Core, .NET Framework, C#, ASP.NET WebApi, WPF,
                    SQL Server, Jira, Jenkins, Octopus Deploy, GitLab, etc.
                    Daca doriţi să aflaţi mai multe despre noi ne puteţi contacta prin email la office@barebyte.com,
                    sau puteţi vizita site-ul nostru - <a href="http://www.barebyte.com" target="_blank">barebyte.com</a>
                </span>
                <span data-lang="en">
                    Barebyte Software was founded in 2016. Our office is in Cluj-Napoca, and currently we have
                    a team of 5 enthusiastic and passionate software developers, which we are constantly looking
                    to grow.
                    Our company provides custom software development services, in close cooperation with our
                    clients. Currently we are focused on providing software development services for an
                    international energy asset management company that provides physical and financial
                    optimization of renewable and conventional energy assets, operating on energy markets in
                    Europe.
                    Our developers are working as part of different teams, integrated with teams from our client,
                    to form agile international teams. Each team is working on a variety of projects, of different
                    types and sizes, depending on the specific domain they are focused on. They are all bound
                    together by the technologies that they use, such as .NET Core, .NET Framework, C#, ASP.NET
                    WebApi, WPF, SQL Server, Jira, Jenkins, Octopus Deploy, GitLab, etc.
                    If you want to find out more about us, feel free to contact us by email at office@barebyte.com
                    or visit our website at - <a href="http://www.barebyte.com" target="_blank">barebyte.com</a>
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/emerson.png" companyName="Emerson" companySite="https://www.emerson.com/en-us/global">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/frequentis.svg" companyName="Frequentis" companySite="https://www.frequentis.com/">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/lseg.png" companyName="LSEG" companySite="https://www.lseg.com/en">
                <span data-lang="ro"></span>
                <span data-lang="en">
                    LSEG (London Stock Exchange Group) is looking for enthusiastic graduates or students to join the team in Cluj office.
                    If you are looking for a career in Engineering/Tech and you want to have a chance to kick start it in a global
                    company which is one of the leading providers of financial markets infrastructure and data,
                    send us your application here:<br>
                    <a href="https://www.lseg.com/en/careers/graduate-internship-programmes" target="_blank">Graduate and Internship Programmes | LSEG</a>
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/pyronova.svg" companyName="Pyronova" companySite="https://pyronova.com/ro/">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/meteocontrol.svg" companyName="MeteoControl" companySite="https://www.meteocontrol.com/en/">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>

        </div>

    </section>

    <section class="job-opp-barter section" >

        <div class="design-element">

            <div class="bara-subtire"></div>
            <div class="bara-groasa"></div>
            <div class="bara-albastra-extensie">
                <h1 data-lang="ro"> Colaboratori </h1>
                <h1 data-lang="en"> Collaborators </h1>
                <!-- <h1 class="catch-phrase"> Ceva catch-phrase </h1> -->
            </div>
            <img src="/design_elements/bara_hts.svg" alt="design element" class="bara-albastra">

        </div>

        <div class="companies">
            <CompanyCard companyLogo="/logos/ccoc.png" companyName="CCOC" color="red" companySite="https://www.utcluj.ro/ococ/"/>
            <CompanyCard companyLogo="/logos/olivo-orizontal.svg" companyName="Olivo" color="red" companySite="https://olivocoffeeculture.com/?gad_source=1&gclid=EAIaIQobChMIn5Ozn4CRjAMVvjgGAB2tUw7HEAAYASAAEgIoavD_BwE"/>
            <!-- <CompanyCard companyName="Logo Entitate 3" color="red"/>
            <CompanyCard companyName="Logo Entitate 4" color="red"/>
            <CompanyCard companyName="Logo Entitate 5" color="red"/> -->
        </div>

    </section>

</BaseLayout>