---
import "../styles/jobs.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import CompanyCard from "../components/CompanyCard.astro";
---

<BaseLayout>

    <section class="job-opp-companies section">

        <div class="pink-bar-extension">
            <h1> Job Opportunities </h1>
            <!-- <h1 class="catch-phrase"> ceva catch-phrase </h1> -->
        </div>
        <img src="/design_elements/bara_video.svg" alt="design element" class="top-pink-bar">

        <div class="companies">

            <CompanyCard companyLogo="/logos/accenture.png" companyName="Accenture" companySite="https://www.accenture.com/ro-en">
                <!-- <span data-lang="ro"></span> -->
                <span>
                    Accenture Industry X is helping clients reimagine the products they make, and how they make them through
                    emerging technologies in Smart Products, Rail Automation, Digital Manufacturing, Automotive, and Robotics.
                    By leveraging data and advanced technologies such as AR/VR/XR, cloud, AI, 5G, and digital twins, you will
                    collaborate with our clients to design, engineer, and manufacture products and services that are more connected,
                    efficient, and sustainable. With over 850 employees in the country, the division is constantly evolving to
                    stay at the forefront of digital transformation.
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/analog_devices.png" companyName="Analog Devices.png" forceImgWidth="120%" companySite="https://www.analog.com/en/index.html">
                <!-- <span data-lang="ro"></span> -->
                <span>
                    Do you want to shape the future of technology? <br>
                    Do you want to solve engineering's toughest challenges? <br>
                    Come meet us at Jobshop and learn more about what it's like
                    to bridge the physical and digital world towards breakthrough innovation.
                    Be part of the future. <br>
                    Let us show you our world and employment opportunities.

                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/barebyte-transparent.png" companyName="Barebyte" forceImgWidth="300%" companySite="https://www.barebyte.com/">
                <span data-lang="ro">
                    Barebyte Software este o companie înfiinţată în anul 2016, avem biroul în Cluj-Napoca, iar în
                    prezent avem o echipă de 5 programatori, pe care căutam în mod constant să o extindem.
                    Compania noastră oferă servicii complete de dezvoltare software, într-o strânsă colaborare cu
                    clienţii noştri. În momentul de faţă ne concentrăm pe dezvoltarea de aplicaţii pentru o companie
                    internațională de gestionare a activelor energetice, care operează pe piețele energetice din
                    Europa, asigurând optimizarea fizică și financiară a activelor de energie regenerabilă și
                    convențională.
                    Programatorii noştri lucrează în mai multe echipe, fiecare fiind integrată cu o echipă de la
                    client, formând astfel o echipă internaţională. În cadrul fiecărei echipe lucrăm pe mai multe
                    proiecte, de diferite tipuri şi dimensiuni, în funcţie de domeniul specific de care se ocupă.
                    Numitorul comun îl reprezinta tehnologiile folosite, proiectele realizate de noi folosind
                    tehnologii şi limbaje precum .NET Core, .NET Framework, C#, ASP.NET WebApi, WPF,
                    SQL Server, Jira, Jenkins, Octopus Deploy, GitLab, etc.
                    Daca doriţi să aflaţi mai multe despre noi ne puteţi contacta prin email la office@barebyte.com,
                    sau puteţi vizita site-ul nostru - <a href="http://www.barebyte.com" target="_blank">barebyte.com</a>
                </span>
                <span data-lang="en">
                    Barebyte Software was founded in 2016. Our office is in Cluj-Napoca, and currently we have
                    a team of 5 enthusiastic and passionate software developers, which we are constantly looking
                    to grow.
                    Our company provides custom software development services, in close cooperation with our
                    clients. Currently we are focused on providing software development services for an
                    international energy asset management company that provides physical and financial
                    optimization of renewable and conventional energy assets, operating on energy markets in
                    Europe.
                    Our developers are working as part of different teams, integrated with teams from our client,
                    to form agile international teams. Each team is working on a variety of projects, of different
                    types and sizes, depending on the specific domain they are focused on. They are all bound
                    together by the technologies that they use, such as .NET Core, .NET Framework, C#, ASP.NET
                    WebApi, WPF, SQL Server, Jira, Jenkins, Octopus Deploy, GitLab, etc.
                    If you want to find out more about us, feel free to contact us by email at office@barebyte.com
                    or visit our website at - <a href="http://www.barebyte.com" target="_blank">barebyte.com</a>
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/emerson.png" companyName="Emerson" companySite="https://www.emerson.com/en-us/global">
                <!-- <span data-lang="ro"></span> -->
                <span>
                    Emerson is a global leader in automation technology and software.
                    We help customers in critical industries, like energy, chemical, power and renewables,
                    life sciences and factory automation, operate more sustainably while improving productivity,
                    energy security and reliability. Emerson has been operating in Cluj for over 18 years and
                    has a team of over 3,600 people. With six production units and six service centers, the
                    company has a very wide range of activities - research & development, engineering, IT, finance,
                    production and many others.
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/frequentis.svg" companyName="Frequentis" companySite="https://www.frequentis.com/">
                <!-- <span data-lang="ro"></span> -->
                <span>
                    The Frequentis Group, with headquarters in Vienna, is an international supplier of
                    communication and information systems for control centres with safety-critical tasks.
                    These 'Control Centre Solutions' are developed and distributed by Frequentis in the
                    Air Traffic Management (civil and military air traffic control, aeronautical information management, air defence)
                    and Public Safety & Transport (police, fire and rescue services,emergency medical services,
                    vessel traffic and railways) business segments. As a global player, Frequentis operates a
                    worldwide network of branches, subsidiaries, and local representatives in more than 50 countries.
                    In Cluj, we started in 2009, and our local team currently has 190+ colleagues and is growing.
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/lseg.png" companyName="LSEG" companySite="https://www.lseg.com/en">
                <!-- <span data-lang="ro"></span> -->
                <span>
                    LSEG (London Stock Exchange Group) is looking for enthusiastic graduates or students to join the team in Cluj office.
                    If you are looking for a career in Engineering/Tech and you want to have a chance to kick start it in a global
                    company which is one of the leading providers of financial markets infrastructure and data,
                    send us your application here:<br>
                    <a href="https://www.lseg.com/en/careers/graduate-internship-programmes" target="_blank">Graduate and Internship Programmes | LSEG</a>
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/pyronova.svg" companyName="Pyronova" companySite="https://pyronova.com/ro/">
                <span>
                    Dacă vrei să te dezvolți într-un domeniu special, care nu se învață la facultate și căruia aparțin un număr
                    foarte redus de specialiști, cum sunt instalațiile de protecție împotriva incendiilor, hai la Pyronova unde
                    poți învăța cum TREBUIE realizate aceste proiecte încă de la faza de proiectare până la execuție, inclusiv
                    operare și mentenanța corespunzătoare! <br><br>

                    Pyronova Is Romania este liderul local de piață în domeniul protecției împotriva incendiilor, furnizând
                    soluții inovatoare și de înaltă calitate pentru protecția împotriva incendiilor, sisteme proiectate cu atenție
                    și instalate corespunzător, care îndeplinesc toate cerințele clienților. <br>
                    Această poveste a început ca o mică afacere de familie și după peste 30 de ani de activitate a devenit un
                    grup internațional, având birouri în 6 țări din centrul și estul Europei și fiind prezent cu proiecte
                    active peste tot în Europa. <br>
                    Creștem și ne dezvoltăm constant, dar scopul nostru rămâne același:
                    protecția vieților umane și a proprietăţilor clienților. <br>
                    Filozofia noastră de bază este aceea de a aborda fiecare client în mod individual, în loc să folosim metode
                    bine stabilite, și de a oferi soluții personalizate, inovatoare, de înaltă calitate, realizabile, care
                    îndeplinesc toate cererile specifice. Tot ceea ce oferim este realizat în conformitate cu cele mai bune
                    practici, standarde intenaționale și protecție împotriva incendiilor de înaltă calitate. Misiunea noastră
                    este să oferim soluții unice pentru stingerea și limitarea incendiilor. <br>
                    Folosind serviciile noastre, partenerii nu mai trebuie să-și facă griji cu privire la siguranța la incendiu
                    a proprietăților și instalațiilor lor, deoarece Pyronova garantează soluții fiabile, proiectate și executate
                    profesional, care se potrivesc tuturor nevoilor acestora. <br>
                    Cuvântul care ne definește cel mai bine se regăseşte în mesajul nostru: pasiune (passion for protection).
                    Portofoliul nostru acoperă proiecte într-o diversitate largă de domenii de activitate:
                    industria auto, logistică, centre de date, industria lemnului, producție, petrochimie, comerţ cu amănuntul,
                    și multe altele.
                </span>
                <!-- <span data-lang="en"></span> -->
            </CompanyCard>
            
            <CompanyCard companyLogo="/logos/meteocontrol.svg" companyName="MeteoControl" companySite="https://www.meteocontrol.com/en/">
                <span>
                    „La Meteocontrol, contribuim activ la construirea unui viitor mai verde, oferind soluții smart
                    pentru monitorizarea și gestionarea consumului de energie regenerabilă. Dezvoltăm și implementăm
                    tehnologii de ultimă generație care ajută clienții noștri - de la investitori și dezvoltatori de
                    proiecte solare, până la operatori de rețele și companii din industrie - să își optimizeze performanța
                    energetică și să reducă amprenta de carbon. <br>
                    Suntem parte a unei rețele globale cu prezență pe toate continentele, ceea ce ne oferă o perspectivă
                    extinsă asupra tranziției energetice la nivel mondial și ne permite să aplicăm cele mai bune practici
                    în fiecare proiect. Expertiza noastră se îmbină cu angajamentul față de protejarea mediului și sprijinirea
                    comunităților în drumul lor spre sustenabilitate. <br>
                    La Meteocontrol, credem că energia curată și digitalizarea merg mână în mână. Fiecare soluție pe care o
                    dezvoltăm susține nu doar performanța economică, ci și responsabilitatea față de mediu, asigurând un viitor
                    mai sigur pentru generațiile următoare. <br>
                    Vino să ne cunoști și să faci parte din echipa care modelează energia viitorului!”

                </span>
                <!-- <span data-lang="en"></span> -->
            </CompanyCard>

        </div>

    </section>

    <section class="job-opp-barter section" >

        <div class="design-element">

            <div class="bara-subtire"></div>
            <div class="bara-groasa"></div>
            <div class="bara-albastra-extensie">
                <h1 data-lang="ro"> Colaboratori </h1>
                <h1 data-lang="en"> Collaborators </h1>
                <!-- <h1 class="catch-phrase"> Ceva catch-phrase </h1> -->
            </div>
            <img src="/design_elements/bara_hts.svg" alt="design element" class="bara-albastra">

        </div>

        <div class="companies">
            <CompanyCard onlyRedirect={true} companyLogo="/logos/ccoc.png" companyName="CCOC" color="red" companySite="https://www.utcluj.ro/ococ/"/>
            <CompanyCard onlyRedirect={true} companyLogo="/logos/olivo-orizontal.svg" companyName="Olivo" color="red" companySite="https://olivocoffeeculture.com/?gad_source=1&gclid=EAIaIQobChMIn5Ozn4CRjAMVvjgGAB2tUw7HEAAYASAAEgIoavD_BwE"/>
            <!-- <CompanyCard companyName="Logo Entitate 3" color="red"/>
            <CompanyCard companyName="Logo Entitate 4" color="red"/>
            <CompanyCard companyName="Logo Entitate 5" color="red"/> -->
        </div>

    </section>

</BaseLayout>
