---
import "../styles/jobs.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import CompanyCard from "../components/CompanyCard.astro";
---

<BaseLayout>

    <section class="job-opp-companies section">

        <div class="pink-bar-extension">
            <h1> Job Opportunities </h1>
            <h1 class="catch-phrase"> ceva catch-phrase </h1>
        </div>
        <img src="/design_elements/bara_video.svg" alt="design element" class="top-pink-bar">

        <div class="companies">

            <CompanyCard companyLogo="/logos/accenture.png" companyName="Accenture"/>
            <CompanyCard companyLogo="logos/analog_devices.png" companyName="Analog Devices.png" forceImgWidth="120%"/>
            <CompanyCard companyLogo="logos/barebyte-transparent.png" companyName="Barebyte" forceImgWidth="300%"/>
            <CompanyCard companyLogo="logos/emerson.png" companyName="Emerson"/>
            <CompanyCard companyLogo="logos/frequentis-cropped.png" companyName="Frequentis"/>
            <CompanyCard companyLogo="logos/lseg.png" companyName="LSEG"/>
            <CompanyCard companyLogo="logos/pyronova.png" companyName="Pyronova"/>
            <CompanyCard companyName="Logo Compania 8"/>

        </div>

    </section>

    <section class="job-opp-barter section">

        <div class="design-element" style="font-size: 0;">

            <div class="bara-subtire"></div>
            <div class="bara-groasa"></div>
            <div class="bara-albastra-extensie">
                <h1> Barter </h1>
                <h1 class="catch-phrase"> Ceva catch-phrase </h1>
            </div>
            <img src="/design_elements/bara_hts.svg" alt="design element" class="bara-albastra">

        </div>

        <div class="companies">
            <CompanyCard companyName="Logo Entitate 1" color="red"/>        
            <CompanyCard companyName="Logo Entitate 2" color="red"/>        
            <CompanyCard companyName="Logo Entitate 3" color="red"/>        
            <CompanyCard companyName="Logo Entitate 4" color="red"/>        
            <CompanyCard companyName="Logo Entitate 5" color="red"/>        
        </div>

    </section>

</BaseLayout>