---
import "../styles/jobs.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import CompanyCard from "../components/CompanyCard.astro";
---

<BaseLayout>

    <section class="job-opp-companies section">

        <div class="pink-bar-extension">
            <h1> Job Opportunities </h1>
            <h1 class="catch-phrase"> ceva catch-phrase </h1>
        </div>
        <img src="/design_elements/bara_video.svg" alt="design element" class="top-pink-bar">

        <div class="companies">

            <CompanyCard companyLogo="/logos/accenture.png" companyName="Accenture">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="logos/analog_devices.png" companyName="Analog Devices.png" forceImgWidth="120%">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="logos/barebyte-transparent.png" companyName="Barebyte" forceImgWidth="300%">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="logos/emerson.png" companyName="Emerson">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="logos/frequentis.svg" companyName="Frequentis">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyLogo="logos/lseg.png" companyName="LSEG">
                <span data-lang="ro"></span>
                <span data-lang="en">
                    LSEG (London Stock Exchange Group) is looking for enthusiastic graduates or students to join the team in Cluj office.
                    If you are looking for a career in Engineering/Tech and you want to have a chance to kick start it in a global
                    company which is one of the leading providers of financial markets infrastructure and data,
                    send us your application here:<br>
                    <a href="https://www.lseg.com/en/careers/graduate-internship-programmes" target="_blank">Graduate and Internship Programmes | LSEG</a>
                </span>
            </CompanyCard>
            
            <CompanyCard companyLogo="logos/pyronova.svg" companyName="Pyronova">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>
            
            <CompanyCard companyName="Logo Compania 8">
                <span data-lang="ro"></span>
                <span data-lang="en"></span>
            </CompanyCard>

        </div>

    </section>

    <section class="job-opp-barter section" style="display: none;">

        <div class="design-element">

            <div class="bara-subtire"></div>
            <div class="bara-groasa"></div>
            <div class="bara-albastra-extensie">
                <h1> Barter </h1>
                <h1 class="catch-phrase"> Ceva catch-phrase </h1>
            </div>
            <img src="/design_elements/bara_hts.svg" alt="design element" class="bara-albastra">

        </div>

        <div class="companies">
            <CompanyCard companyName="Logo Entitate 1" color="red"/>        
            <CompanyCard companyName="Logo Entitate 2" color="red"/>        
            <CompanyCard companyName="Logo Entitate 3" color="red"/>        
            <CompanyCard companyName="Logo Entitate 4" color="red"/>        
            <CompanyCard companyName="Logo Entitate 5" color="red"/>        
        </div>

    </section>

</BaseLayout>