---
import "../styles/team.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import TeamCard from "../components/TeamCard.astro";
---

<BaseLayout>

    <section class="meet-the-team section">

        <h1 class="mtt-title">
            Meet the Team
        </h1>

        <div class="js-team-photos" data-lang="ro">

            <TeamCard idCard="Bia" nume="Bianca Lungu" pozitie="Coordonator Proiect JobShop®" poza="/meet_the_team/BiaLong.svg"/>
            <TeamCard idCard="Laur" nume="Laurențiu Șofan" pozitie="Resurse Umane" poza="/meet_the_team/Laur.svg"/>
            <TeamCard idCard="Ria" nume="Riana Horvath" pozitie="Relații Corporative" poza="/meet_the_team/Ria.svg"/>
            <TeamCard idCard="Mirzi" nume="Andrei Mîrzac" pozitie="Responsabil Design" poza="/meet_the_team/Mirzi.svg"/>
            <TeamCard idCard="Anda" nume="Anda Bodea" pozitie="Relații Publice" poza="/meet_the_team/Anda.svg"/>
            <TeamCard idCard="Raul" nume="Raul Petruț" pozitie="Responsabil IT" poza="/meet_the_team/Raul.svg"/>
            <TeamCard idCard="Dia" nume="Diana Maniu" pozitie="Responsabil Media" poza="/meet_the_team/Dia.svg"/>

            <TeamCard idCard="Maria" nume="Maria Niță" pozitie="Coordonator Proiect HTS" poza="/meet_the_team/Maria.svg"/>
            <TeamCard idCard="Anca" nume="Anca Cuibar" pozitie="Asistent Relații Publice" poza="/meet_the_team/Anca.svg"/>
            <TeamCard idCard="Roman" nume="Alexandru Roman" pozitie="Responsabil Goodies" poza="/meet_the_team/Roman.svg"/>
            <TeamCard idCard="Casi" nume="Casian Stan" pozitie="Asistent Design" poza="/meet_the_team/Casi.svg"/>
            
            <TeamCard idCard="Alex" nume="Alexandru Iordache" pozitie="Responsabil Logistică" poza="/meet_the_team/Huawei.svg"/>
            <TeamCard idCard="Bia-Bob" nume="Bianca Bobeica" pozitie="Responsabil Chill-Zone" poza="/meet_the_team/BiaBob.svg"/>
        </div>
        <div class="js-team-photos" data-lang="en">

            <TeamCard idCard="Bia" nume="Bianca Lungu" pozitie="Project Coordinator JobShop®" poza="/meet_the_team/BiaLong.svg"/>
            <TeamCard idCard="Laur" nume="Laurențiu Șofan" pozitie="Human Resources Responsible" poza="/meet_the_team/Laur.svg"/>
            <TeamCard idCard="Ria" nume="Riana Horvath" pozitie="Corporative Relations Responsible" poza="/meet_the_team/Ria.svg"/>
            <TeamCard idCard="Mirzi" nume="Andrei Mîrzac" pozitie="Design Responsible" poza="/meet_the_team/Mirzi.svg"/>
            <TeamCard idCard="Anda" nume="Anda Bodea" pozitie="Public Relations Responsible" poza="/meet_the_team/Anda.svg"/>
            <TeamCard idCard="Raul" nume="Raul Petruț" pozitie="IT Responsible" poza="/meet_the_team/Raul.svg"/>
            <TeamCard idCard="Dia" nume="Diana Maniu" pozitie="Media Responsible" poza="/meet_the_team/Dia.svg"/>

            <TeamCard idCard="Maria" nume="Maria Niță" pozitie="Project Coordinator HTS" poza="/meet_the_team/Maria.svg"/>
            <TeamCard idCard="Anca" nume="Anca Cuibar" pozitie="Public Relations Assistant" poza="/meet_the_team/Anca.svg"/>
            <TeamCard idCard="Roman" nume="Alexandru Roman" pozitie="Goodies Responsible" poza="/meet_the_team/Roman.svg"/>
            <TeamCard idCard="Casi" nume="Casian Stan" pozitie="Design Assistant" poza="/meet_the_team/Casi.svg"/>
            
            <TeamCard idCard="Alex" nume="Alexandru Iordache" pozitie="Logistics Responsible" poza="/meet_the_team/Huawei.svg"/>
            <TeamCard idCard="Bia-Bob" nume="Bianca Bobeica" pozitie="Chill-Zone Responsible" poza="/meet_the_team/BiaBob.svg"/>
        </div>

    </section>

</BaseLayout>