---
import "../styles/team.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import TeamCard from "../components/TeamCard.astro";
---

<BaseLayout>

    <section class="meet-the-team section">

        <img src="/design_elements/fundal_prezentare.svg" alt="design element" class="vertical-strip">

        <div>

            <TeamCard/>

        </div>

    </section>

</BaseLayout>