---
import "../styles/team.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import TeamCard from "../components/TeamCard.astro";
---

<BaseLayout>

    <section class="meet-the-team section">

        <img src="/design_elements/fundal_prezentare.svg" alt="design element" class="vertical-strip">

        <div class="js-team-photos">

            <TeamCard idCard="Bia"/>
            <TeamCard idCard="Laur"/>
            <TeamCard idCard="Ria"/>
            <TeamCard idCard="Mirzi"/>
            <TeamCard idCard="Anda"/>
            <TeamCard idCard="Raul"/>
            <TeamCard idCard="Dia"/>

        </div>

    </section>

</BaseLayout>