---
import "../styles/company.css";
const { companyLogo="", companyName="" } = Astro.props;
---

<div class="company-card">

    <img src={companyLogo} alt=`logo companie ${companyName}`>
    <a href="" data-lang="en"> Visit Us! </a>
    <a href="" data-lang="ro"> Vizitează-ne! </a>

</div>
