---
import "../styles/footer.css"

import Social from "./Social.astro"
---

<footer>

    <section class="contact-info">

        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

    </section>
    <section class="social-media">

        <Social />
        <Social />
        <Social />

    </section>

</footer>