---
import "../styles/footer.css"

import Social from "./Social.astro"
---

<footer>
    
    <section class="social-media">

        <Social />
        <Social />
        <Social />

    </section>
    <section class="contact-info">

        <p> Project Coordinator - Bia &lt;3 </p>
        <p> Tel: +40 xxx xxx xxx </p>
        <p> E-mail: sophie.stricata@bestcj.ro </p>

    </section>
    <section class="contact-info">

        <p> Corporative Relations Responsible - Ria &lt;3 </p>
        <p> Tel: +40 xxx xxx xxx </p>
        <p> E-mail: an.ass.tasia@bestcj.ro </p>

    </section>
    <section class="copyright">

        <p> &copy; 2025 copyright: BEST Cluj-Napoca </p>

    </section>

</footer>