---
import "../styles/footer.css"

import Social from "./Social.astro"
---

<footer>
    
    <section class="social-media">

        <Social
            text="Tik Tok"
            logoSrc="/design_elements/social_media_tiktok.svg"
            link="https://www.tiktok.com/@best.clujnapoca?_t=ZN-8uMNmRRG7yY&_r=1"
        />

        <Social text="Facebook" 
                logoSrc="/design_elements/social_media_facebook.svg" 
                link="https://www.facebook.com/share/181yvgAPcz/?mibextid=wwXIfr"
        />
        <Social text="Instagram" 
                logoSrc="/design_elements/social_media_instagram.svg" 
                link="https://www.instagram.com/jobshop.best?igsh=MXdwaXNneHY2c29sNw=="
        />
        <Social text="Linkedin" 
                logoSrc="/design_elements/social_media_linkedin.svg" 
                link="https://www.linkedin.com/company/best-cluj-napoca/?viewAsMember=true"
        />

    </section>
    <section class="contact-info">

        <p data-lang="en"> Project Coordinator - Bianca Lungu </p>
        <p data-lang="ro"> Coordonator de Proiect - Bianca Lungu </p>
        <p> Tel: +40 771 322 650 </p>
        <p> E-mail: bianca.lungu@bestcj.ro </p>

    </section>
    <section class="contact-info">

        <p data-lang="en"> Corporative Relations Responsible - Riana Horvath </p>
        <p data-lang="ro"> Responsabil Relații Corporative - Riana Horvath </p>
        <p> Tel: +40 742 121 616 </p>
        <p> E-mail: riana.horvath@bestcj.ro </p>

    </section>
    <section class="copyright">

        <p> &copy; 2025 copyright: BEST Cluj-Napoca </p>

    </section>

</footer>