---
import "../styles/navbar.css"
---

<nav>

    <img src="" alt="logo-JobShop®" id="js-logo">
    
    <div class="force-right">
        
        <img src="" alt="burger-dropdown" id="drop-down">
        <img src="" alt="lang-flag-ro">
        <img src="" alt="lang-flag-en">

    </div>

</nav>
