---
import "../styles/navbar.css"
---

<nav>

    <img src="" alt="logo-best-cj">
    <ul class="dropdown">
        <button class="dropdown-button" onclick="this.toggleAttribute('data-show')">
            <div></div>
            <div></div>
            <div></div>
        </button>
        <div class="dropdown-content">
            <a href=""> A </a>
            <a href=""> B </a>
            <a href=""> C </a>
        </div>
    </ul>
    NAVBAR

</nav>
