---
import "../styles/navbar.css"
---

<nav>

    <a href="/#home-anchor">
        <img src="/design_elements/jobshop.svg" alt="logo-JobShop®" id="js-logo">
    </a>

    <div class="anchors">
        
        <a href="/#home-anchor" data-lang="en"> Home </a>
        <a href="/#home-anchor" data-lang="ro"> Acasă </a>
        <a href="/#descriere-js" data-lang="en"> About </a>
        <a href="/#descriere-js" data-lang="ro"> Despre </a>
        <a href="/job_opportunities" data-lang="en"> Job Oportunities </a>
        <a href="/job_opportunities" data-lang="ro"> Oportunități de carieră </a>
        <!-- <a href="/booklet" data-lang="en"> Catalogue </a>
        <a href="/booklet" data-lang="ro"> Catalog </a> -->
        <a href="/#hts-anchor"> How To <br>Start-Up </a>
        <a href="/team" data-lang="en"> Team </a>
        <a href="/team" data-lang="ro"> Echipa </a>

    </div>
    
    <div class="option-buttons force-right">

        <img
            src="/design_elements/burger_menu_icon.svg"
            alt="burger menu icon"
            class="burger-menu"
            onclick="document.getElementById('anchors-floating').toggleAttribute('data-active')"
        >
        <img src="/design_elements/flag_ro.svg" alt="romanian flag" onclick="changeLanguage('ro')">
        <img src="/design_elements/flag_en.svg" alt="england flag" onclick="changeLanguage('en')">
    </div>

    <div id="anchors-floating" onclick="document.getElementById('anchors-floating').toggleAttribute('data-active')">

        <a href="/#home-anchor" data-lang="en"> Home </a>
        <a href="/#home-anchor" data-lang="ro"> Acasă </a>
        <a href="/#descriere-js" data-lang="en"> About </a>
        <a href="/#descriere-js" data-lang="ro"> Despre </a>
        <a href="/job_opportunities" data-lang="en"> Job Oportunities </a>
        <a href="/job_opportunities" data-lang="ro"> Oportunități de carieră </a>
        <!-- <a href="/booklet" data-lang="en"> Catalogue </a>
        <a href="/booklet" data-lang="ro"> Catalog </a> -->
        <a href="/#hts-anchor"> How To Start-Up </a>
        <a href="/team" data-lang="en"> Team </a>
        <a href="/team" data-lang="ro"> Echipa </a>

    </div>
    
</nav>

<script is:inline>

    function changeLanguage(lang) {
    	html.lang = lang;
    }

</script>
